.main-menu {
    
}

.main-menu ul li {
    
}

.main-menu ul li a {
    padding: 15px 0!important;
}

.main-menu > ul > li > a span {
    border: none;
}

.main-menu ul li a {
    font-size: 16px;
}

.header__language .lang_sub_list {
    background: #edf3f5;
    width: 100%;
}

.card-title-small {
    font-size: 16px;
    padding: 7px;
}

.application-sidebar .header-icon {
    margin-left: -13px;
    margin-right: 8px;
    margin-top: -3px;
}

.application-sidebar .nav-link-header {
    font-size: 16px;
}

.application-sidebar .nav-link-item {
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.btn-remove {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    font-size: 14px;
}

.application-sidebar .nav-link-item.active {
    color: #7f3b3b;
    font-weight: bold;
}

.header__language .lang_sub_list li button {
    color: #646c76;
    display: block;
    padding-right: 29px;
    min-height: 37px;
    line-height: 37px;
    padding-left: 18px;
    font-size: 14px;
    font-weight: 500;
}

.apply-form .xb-item--field span.icon {
    top: 53px;
}

.apply-form .xb-item--field span.icon-select {
    top: 19px!important;
}

.alert ul li {
    list-style: none;
}

.select2-container .select2-selection--single {
    height: 50px!important;
    line-height: 50px!important;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 50px!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px!important;
}

.select2-results__options:first-child {
    padding-top: 0!important;
}

.alert.hidden {
    display: none;
}

.form-note {
    font-size: 14px;
}

.agree-updates input[type="checkbox"] {
    margin-right: 5px!important;
    padding: 0!important;
    height: auto!important;
    display: unset;
    min-height: auto;
}

.ui-datepicker-year {
    height: auto!important;
}

.remove-traveller-icon {
    font-size: 22px;
    color: red;
    cursor: pointer;
}


.application-alert {
    padding-left: 0;
}

label.error {
    color: red;
    font-size: 14px;
}

.pay-button {
    display: none;
}

.summary-table {
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 249 / var(--tw-bg-opacity));
}

.step-indicator {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 10px;
}

.step-indicator div {
    text-align: center;
    width: 23%;
    padding: 5px 0;
    border: 1px solid #d4d4d4;
    border-radius: 30px;
    background-color: #f8f9fa;
    color: #6c757d;
    font-weight: bold;
}

.step-indicator .active {
    background-color: #0d6efd;
    color: white;
    border: 1px solid #0d6efd;
}

/* Form Styling */
.form-step {
    display: none;
}

.form-step-active {
    display: block;
}

.form-label {
    font-weight: 500;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004080;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

h3 {
    margin-bottom: 20px;
}
.btn-remove-traveller {
    color: red;
    cursor: pointer;
    font-size: 15px;
}

.btn-remove-traveller.hidden {
    display: none;
}

/* Hide if it's the first traveller block */
.card-traveller:first-child .btn-remove-traveller {
    display: none;
}

.form-control-checkbox {
    padding: 0 !important;
    height: auto !important;
    width: 16px;
    height: 16px !important;
    margin-right: 5px;
}

.apply-offer-list {
    list-style: none;
}

.extra-services-list {
    list-style: none;
}

.apply-offer-list li {
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    padding: 15px;
}

.extra-services-list li {
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    padding: 15px;
}

.extra-services-list li p {
    color: #787b84;
}

.non-active-status-block {
    opacity: 0.3!important;
}

.optional-service.hidden {
    display: none;
}